/* app-specific css */
#current_factors_box .shiny-input-container label,
#cell_params_box .shiny-input-container label {
  float: left;
  clear: left;
  width: 30%;
  margin-right: 5%;
  text-align: right;
}

#current_factors_box .shiny-input-container input,
#cell_params_box .shiny-input-container input {
  float: left;
  width: 65%;
}

.display.dataTable th {
  text-align: center;
}

@media (min-width: 768px) {
  .row .col-sm-4 {
    padding-right: 5px;
  }

  .row .col-sm-8 {
    padding-left: 5px;
  }
}
